.bg-teal-def {
  background: #009688;
  color: white;
}
.bg-teal-hue2 {
  background: #00796B;
  color: white;
}
.bg-teal-hue1 {
  background: #4DB6AC;
}
.bg-whi-def {
  background: #FFFFFF;
}
.col-red-def {
  color: #F44336;
}
.col-whi-def {
  color: #FFFFFF
}
a {
  text-decoration: none;
}
.inspir-bg {
  background-image: url(../res/images/PC_IRL.png) !important;
  background-position: right top;
}
