body, html {
	margin:0px;
	background-color:#f5eacd;
}
#pcEditor {
	width:80vw;
	height:80vh;
	position:fixed;
	top:10vh;
	left:10vw;
	border:2vw solid #5785b3;
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	z-index:1;
}
#runBar {
	width:100%;
	height:15%;
}
#topColors {
	width:50%;
	height:100%;
	background-color:black;
}
/*
#bottomColors {
	width:50%;
	height:50%;
	float:left;
	background-color:red;
} */
.color {
	width:16.66%;
	height:100%;
	background-color:orange;
	box-sizing:border-box;
	float:left;
}
.color:hover {
	border:.2vw solid yellow;
}
/* top colors */
#topBlack { background-color:#404040;border-bottom:.1vw solid #5785b3;border-top:none; }
#topWhite { background-color:white;border-bottom:.1vw solid #5785b3;border-top:none; }
#topBlue { background-color:#75a3d1;border-bottom:.1vw solid #5785b3;border-top:none; }
#topGreen { background-color:#58d178;border-bottom:.1vw solid #5785b3;border-top:none; }
#topRed { background-color:#ee4b3e;border-bottom:.1vw solid #5785b3;border-top:none; }
#topOrange { background-color:#f59c62;border-bottom:.1vw solid #5785b3;border-top:none; }
#topPurple { background-color:#8065b3;border-bottom:.1vw solid #5785b3;border-top:none; }

/* bottom colors 
#bottomBlack { background-color:#404040;border-top:.1vw solid #5785b3;border-bottom:none; }
#bottomWhite { background-color:white;border-top:.1vw solid #5785b3;border-bottom:none; }
#bottomBlue { background-color:#75a3d1;border-top:.1vw solid #5785b3;border-bottom:none; }
#bottomGreen { background-color:#58d178;border-top:.1vw solid #5785b3;border-bottom:none; }
#bottomRed { background-color:#ee4b3e;border-top:.1vw solid #5785b3;border-bottom:none; }
#bottomOrange { background-color:#f59c62;border-top:.1vw solid #5785b3;border-bottom:none; }
#bottomPurple { background-color:#8065b3;border-top:.1vw solid #5785b3;border-bottom:none; }
*/

#runButton {
	width:35%;
	height:100%;
	color:white;
	background-color:#ee4b3e;
	font-family:Monospace;
	text-align:center;
	font-size:3.5em;
	position:relative;
	top:-100%;
	left:50%;
	box-sizing:border-box;
	border-bottom:.1vw solid #5785b3;
}
#runButton:hover {
	opacity:.6;
}
#minimizeButton {
	color:white;
	font-size:3.5em;
	text-align:center;
	width:15%;
	height:100%;
	background-color:orange;
	position:relative;
	top:-200%;
	left:85%;
	box-sizing:border-box;
	border-bottom:.1vw solid #5785b3;
}
#minimizeButton:hover {
	opacity:.6;
}

#leftEditor {
	width:50%;
	height:85%;
	float:left;
	background-color:#f5eacd;
	border-right:1vw solid #5785b3;
	border-bottom:1vw solid #5785b3;
	box-sizing:border-box;
}
#editText {
	width:100%;
	height:100%;
	resize:none;
	font-size:1.2em;
	color:#333333;
	font-family:Monospace;
}
#rightDisplay {
	width:50%;
	height:85%;
	float:right;
	background-color:orange;
	border-left:1vw solid #5785b3;
	border-bottom:1vw solid #5785b3;
	box-sizing:border-box;
}
#display {
	width:99%;
	height:100%;
	background-color:white;
}
#minimizedEditor {
	z-index:1;
	position:fixed;
	bottom:0vh;
	left:10vw;
	width:80vw;
	height:10vh;
	background-color:#5785b3;
	color:white;
	font-size:3em;
	text-align:center;
	font-family:Monospace;
	display:none;
}
#minimizedEditor:hover {
	opacity:.6;
}