<!DOCTYPE html>
  <html>
  <head>
    <title>MVMS|PC</title>
    <link rel="icon" type="image/png" href="res/images/favicon.png">
    <!-- local stylesheet -->
    <link rel='stylesheet' href='css/main.css'/>
    <!-- external imports -->
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css"/>
    <script src='./bower_components/angular/angular.min.js'></script>
    <script src='./bower_components/angular-animate/angular-animate.min.js'></script>
    <script src='./bower_components/angular-aria/angular-aria.min.js'></script>
    <script src='./bower_components/angular-material/angular-material.min.js'></script>
    <script src='./bower_components/jquery/dist/jquery.min.js'></script>

    </script>
    <meta charset="UTF-8">
  </head>
  <body ng-app='mvmsPcApp' ng-controller='pcController' layout='column' ng-cloak>
    <!-- start toolbar -->
    <md-toolbar md-scroll-shrink='true' md-shrink-speed-factor='0.5' class='md-whiteframe-z3 inspir-bg' flex='33' flex-sm='33'>
      <div layout='row'>
        <div flex='5'></div>
        <div>
          <p class='md-display-3'>MVMS Programming Club</p>
          <p class='md-headline'>Where middle school students learn to program.</p>
        </div>
        <div flex='5'></div>
      </div>
    </md-toolbar>
    <!-- end toolbar -->
    <md-content class='md-padding'>
      <!-- start schedule title -->
      <div layout='row'>
        <div flex='5'></div>
        <div>
          <h6 class='md-title col-red-def'>Schedule</h6>
          <p class='md-subhead'>We meet every Thursday, 3:15 to 4:10, in Mr. Bird's classroom at Mesa Verde Middle School.</p>
        </div>
      </div>
      <!-- end schedule title -->
      <!-- start schedule section -->
      <div layout="row" layout-sm='column' layout-md='column' layout-align="space-around center" layout-margin layout-padding layout-fill>
        <!-- days until next meeting -->
        <div flex='33' flex-sm='100' flex-md='100' style='text-align: center;' class='md-whiteframe-z1 bg-teal-def'>
          <h5 class='md-headline'>Programming club is in </h5>
          <md-button class='md-whiteframe-z1 md-raised' md-no-ink='true'><p class='md-headline'>{{ daysUntil }}</p></md-button>
          <h5 class='md-headline'>Days</h5>
        </div>
        <!-- next meeting day -->
        <div flex='33' flex-sm='100' flex-md='100' style='text-align: center;' class='md-whiteframe-z1 bg-teal-def'>
          <h5 class='md-headline'>Next meeting:</h5>
          <md-button class='md-whiteframe-z1 md-raised' md-no-ink='true'><p class='md-headline'>{{ nextMeeting | date: 'MMMM d, yyyy' }}</p></md-button>
          <h5 class='md-headline'>{{ nextMeeting | date: 'h:mm a' }}</h5>
        </div>
      </div>
      <!-- end schedule section -->
      <md-divider></md-divider>
      <!-- start instructors title -->
      <div layout='row'>
        <div flex='5'></div>
        <div>
          <h6 class='md-title col-red-def'>Instructors</h6>
          <p class='md-subhead'>We have a carefully handpicked selection of the best programmers that regularly come to the club.</p>
        </div>
      </div>
      <!-- end instructors title -->
      <!-- start instructor cards-->
      <div layout='row' layout-sm='column' layout-align='space-around center' layout-margin layout-padding style='text-align: center;' layout-wrap>
        <md-card ng-repeat='instructor in instructors' class='bg-teal-def md-whiteframe-z1' flex='30' flex-sm='95' flex-md='45'>
          <md-button aria-label='Instrctor picture' class='md-raised' md-no-ink='true'>
            <img class='md-card-image' ng-src='{{ instructor.pic }}'>
          </md-button>
          <md-card-content>
            <h2 class='md-headline'>{{ instructor.name }}</h2>
            <md-button aria-label='Instructor title' class='md-raised' md-no-ink='true'>{{ instructor.title }}</md-button>
            <p class='md-subhead'>{{ instructor.description }}</p>
          </md-card-content>
        </md-card>
      </div>
      <!-- end instructor cards -->
      <md-divider></md-divider>
      <!-- start resources title -->
      <div layout='row'>
        <div flex='5'></div>
        <div>
          <h6 class='md-title col-red-def'>Resources</h6>
          <p class='md-subhead'>Want to know how to do something or want to use a program we used in class?</p>
        </div>
      </div>
      <!-- end resources title -->
      <!-- start resources content -->
      <div layout='row' layout-sm='column' layout-align='space-around center' layout-margin layout-padding style='text-align: center;' layout-wrap>
        <md-card ng-repeat='resource in resources' class='bg-teal-def md-whiteframe-z1' flex='30' flex-sm='95' flex-md='45'>
          <md-button aria-label='Resource picture' class='md-raised' target="_blank" ng-href='{{ resource.link }}'>
            <img class='md-card-image' ng-src='{{ resource.pic }}'>
          </md-button>
          <md-card-content>
            <h2 class='md-headline'><md-button aria-label='Resource Name' ng-href='{{ resource.link }}' class='md-raised' target="_blank"><span class='col-red-def'>{{ resource.name }}</span></md-button></h2>
            <p class='md-subhead'>{{ resource.description }}</p>
          </md-card-content>
        </md-card>
      </div>
      <!-- end resources content -->
      <md-divider></md-divider>
      <!-- start contact title -->
      <div layout='row'>
        <div flex='5'></div>
        <div>
          <h6 class='md-title col-red-def'>Contact</h6>
          <p class='md-subhead'>Come on in, let's have a chat.</p>
        </div>
      </div>
      <!-- end contact title -->
      <md-divider></md-divider>
      <!-- start about title -->
      <div layout='row'>
        <div flex='5'></div>
        <div>
          <h6 class='md-title col-red-def'>About</h6>
          <p class='md-subhead'>What are we?</p>
        </div>
      </div>
      <!-- end about title -->
      <!-- start about content -->
      <div layout='row'>
        <div flex='5'></div>
        <div class='bg-teal-def md-whiteframe-z1' layout-padding>
          <p class='md-subhead' style='text-align: center;'>
            We are a non-profit club located in San Diego, California. We are specificaly located in Mesa Verde Middle School. We love programming, and want to share our love with others. We try to convey our passion and help others understand that passion. We teach a variety of languages, in order to help others understand the freedom and power you have while programming. We not only teach students how to simply code, we teach our students problem-solving skills, memorization, creativity, and how to have fun with something seemingly monotonous.
          </p>
        </div>
        <div flex='5'></div>
      </div>
      <!-- end about content -->
    </md-content>
    <!-- modules -->
    <script src="js/app.js"></script>
  </body>
</html>
