* {
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}
body {
  margin: 0;
  background: #F5EACD;
}
header {
  background: #75A3D1;
  height: 100px;
  padding: 25px;
}
#title {
  text-decoration: none;
  font-weight: 300;
  font-size: 50px;
  margin-left: 25px;
  line-height: 100px;
  position: absolute;
}
nav ul a {
  cursor: pointer;
  font-size: .9em;
  width: 90px;
}
nav ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
  padding-top:10px;
  padding-bottom: 10px;
  background: #333;
  width: 100px;
  width: 90px;
  display:none;
}

li {
    color: #F5EACD;
}
