* {
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}
body {
  margin: 0;
  background: #F5EACD;
}
header {
  background-color: #75A3D1;
  height: 100px;
  padding: 25px;
}
#title {
  text-decoration: none;
  font-weight: 300;
  font-size: 50px;
  margin-left: 25px;
  line-height: 100px;
  position: absolute;
}
a.nav {
  cursor: pointer;
  font-size: .9em;
  width: 90px;
}
a#navbutton {
  width: 0;
  height: 0;
  z-index: 20;
}
#navlist {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
  padding-top:50px;
  background: #EE4B3E;
  width: 100px;
  padding-top: 0px;
  z-index: 10;
  width: 90px;
}
